.loader{
    margin: auto !important;
}
.loader svg{
   margin-top: 30%;
}
@media screen and (max-width: 900px){
.loader{
    margin: auto !important;
    width: 450px !important;
}
.loader svg{
    margin-top: 10%;
}
}
@media screen and (max-width: 768px){
.loader{
    margin: auto !important;
}
.loader svg{
    margin-top: 10%;
}
}
@media screen and (max-width: 600px){
    .loader{
    margin: auto !important;
    width: 350px !important;
}
.loader svg{
    margin-top: 30%;
}
}
@media screen and (max-width: 480px){
.loader{
    margin: auto !important;
    width: 300px !important;
}
.loader svg{
    margin-top: 50%;
}
}
